.myDgrid .datagrid-header-check > div {
  bottom: 11px;
}
.myDgrid .datagrid-header-check > input {
  bottom: 11px;
}
.lTList {
  margin: 0 16px 12px;
  border-bottom: 1px solid #ddd;
  width: auto!important;
}
.lTList > ul {
  height: 40px;
  padding: 0px!important;
}
.lTList > ul li {
  height: 39px;
  float: left;
  cursor: pointer;
}
.lTList > ul li.lTActive {
  border-bottom: 1px solid #036edb;
}
.lTList > ul li.lTActive > span {
  color: #036edb;
}
.lTList > ul li > span {
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  color: #3a4c57;
  border-right: 1px solid #ddd;
  padding: 0 16px;
  display: block;
}
.lTList > ul li > span > i.termiState {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: red;
}
.insertPopup .wSTime_ruleSet,
.selectPopup .wSTime_ruleSet {
  border: none;
  border-bottom: 1px solid #ddd;
}
.insertPopup .wSTime_ruleSet > div.sTCont > span,
.selectPopup .wSTime_ruleSet > div.sTCont > span {
  width: 33.33%!important;
}
.insertPopup .wSTime_ruleSet > div.sTCont > span:nth-child(2),
.selectPopup .wSTime_ruleSet > div.sTCont > span:nth-child(2) {
  text-align: center!important;
}
.insertPopup .wSTime_ruleSet > div.sTCont > span:nth-last-child(1),
.selectPopup .wSTime_ruleSet > div.sTCont > span:nth-last-child(1) {
  text-align: right;
}
.insertPopup .wSTime_ruleSet > div.sTCont1,
.selectPopup .wSTime_ruleSet > div.sTCont1 {
  padding-top: 5px;
}
.insertPopup .wSTime_ruleSet > div.sTCont1 > p,
.selectPopup .wSTime_ruleSet > div.sTCont1 > p {
  width: 33.33%;
  display: inline-block;
  position: relative;
  height: 30px;
  float: left;
}
.insertPopup .wSTime_ruleSet > div.sTCont1 > p:nth-child(2),
.selectPopup .wSTime_ruleSet > div.sTCont1 > p:nth-child(2) {
  text-align: center;
}
.insertPopup .wSTime_ruleSet > div.sTCont1 > p:nth-last-child(1),
.selectPopup .wSTime_ruleSet > div.sTCont1 > p:nth-last-child(1) {
  text-align: right;
}
.insertPopup .wSTime_ruleSet > div.sTCont1 > p > select,
.selectPopup .wSTime_ruleSet > div.sTCont1 > p > select {
  position: absolute;
  top: 0px;
  bottom: 0px;
  border: 1px solid #ddd;
}
.insertPopup .wSTime_ruleSet > div.sTCont1 > p:nth-child(2) > input,
.selectPopup .wSTime_ruleSet > div.sTCont1 > p:nth-child(2) > input {
  height: 30px;
  width: 30%;
  float: left;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-indent: 5px;
}
.insertPopup .wSTime_ruleSet > div.sTCont1 > p:nth-child(2) > input:nth-child(2),
.selectPopup .wSTime_ruleSet > div.sTCont1 > p:nth-child(2) > input:nth-child(2) {
  float: right;
}
.insertPopup .wSTime_ruleSet > div.sTCont1 > p > a,
.selectPopup .wSTime_ruleSet > div.sTCont1 > p > a {
  color: #e84957;
}
